{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ title }}</title>
    </head>
    <body>
    {% block body %}
    <div class="row">
            {% for article_source in source %}
            <div class="col-md-4 card text-white bg-primary mb-3" style="max-width: 20rem;">
                <a href="/articles/{{article_source.id}}">
                <div class="card-body">
                    <h4 class="card-title">{{ article_source.name}} </h4>
                    <p class="card-text">Articles from {{ article_source.name}} news site</p>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
    </body>
</html>