{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ title }}</title>
    </head>
    <body>
    {% block body %}
        <!-- Navbar -->

        <!-- Article Sources  -->
        <h3> Article Sources</h3>
         <ul>
            {% for article_source in source %}
                <a href="/articles/{{article_source.id}}">
                    <li>{{ article_source.name}}</li>
                </a>
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>